@charset "utf-8";

#wrap{width: 100%; background-color: #fff;}
#header{z-index: 3; position: absolute; top: 0; left: 0; width: 100%;}
#header>div{width: 100%; max-width: 1090px; margin: 0 auto; height: 82px;}
.pc{width: 100%;}
.fc:after{
    content: '';
    display: block;
    clear: both;
}

/*좌측박스 로고*/
#header>div>ul>li:first-child{float: left;}
#header>div>ul>li:first-child>h1{padding-top: 55px;}
#header>div>ul>li:first-child>h1>a{color: #fff;}
#header>div>ul>li:first-child>h1>a>img{width: 120px;}

/*우측박스 메인메뉴와 탑메뉴*/
#header>div>ul>li:last-child{float: right;}

/*aside 탑메뉴*/
#header>div>ul>li:last-child>aside{padding-top: 15px;}
#header>div>ul>li:last-child>aside>ul{float: right;}
#header>div>ul>li:last-child>aside>ul>li{float: left; margin-left: 20px; color: #ddd;font-size: 13px;}
#header>div>ul>li:last-child>aside>ul>li>a{color: #ddd; font-size: 13px;}
#header>div>ul>li:last-child>aside>ul>li:hover>a{color: #fff;}
#header>div>ul>li:last-child>aside>ul>li>a>i{color: #ddd; font-size: 15px; padding-top: 3px;}

/*nav 메인메뉴*/
#header>div>ul>li:last-child>nav{padding-top: 20px;}
#header>div>ul>li:last-child>nav>ul{width: 100%;}
#header>div>ul>li:last-child>nav>ul>li{float: left; margin-left: 25px;}
#header>div>ul>li:last-child>nav>ul>li>a{display: inline-block; font-size: 16px; color: #f1f1f1; font-family: 'Montserrat', sans-serif; letter-spacing: 2px; padding-bottom: 5px;}
#header>div>ul>li:last-child>nav>ul>li.addDeco>a{border-bottom: 2px solid #f1f1f1;}
#header>div>ul>li:last-child>nav>ul>li>a:hover{border-bottom: 2px solid #f1f1f1;}
#header>div>ul>li:last-child>nav>ul>li>a>i{width: auto;}

#mobile_header{
    width: 100%; height: 40px;
    display: block; /*none 처리*/
    position: relative;
}
.mobHeader {
    background-color: #ffffff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    display: none;
}

.mobHeader ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.mobHeader li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

.mobHeader li a:hover,
.mobHeader .menu-btn:hover {
    background-color: #efefef;
}

.mobHeader .mobLogo{
    width: 100%; height: 50px;
    position: absolute;
    margin: 0 auto;
    padding-top: 7px;
}
.mobHeader .mobLogo h2{
    width: 100px;
    height: 40px;
    display: block;
    position: relative;
    margin: 0 auto;
}
.mobHeader .mobLogo h2 a img{
     width: 100px;
     padding-top: 13px;
}


/* menu */

.mobHeader .menu{
    display: block;
    background: #ffffff;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
.mobHeader .menu li{
    border-bottom: 1px solid #efefef;
    text-align: center;
}
.mobHeader .menu li a{
    font-weight: 540;
    color: #333333;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.mobHeader .menu li:hover a{
    color: #888888;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* menu icon */

.mobHeader .menu-icon {

    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.mobHeader .menu-icon .navicon {
    background: #000000;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.mobHeader .menu-icon .navicon:before,
.mobHeader .menu-icon .navicon:after {
    background: #000000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.mobHeader .menu-icon .navicon:before {
    top: 5px;
    background: #000000;

}

.mobHeader .menu-icon .navicon:after {
    top: -5px;
    background: #000000;

}

/* menu btn */

.mobHeader .menu-btn {
    display: none;
}

.mobHeader .menu-btn:checked ~ .menu {
    max-height: 400px;
}

.mobHeader .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.mobHeader .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.mobHeader .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.mobHeader .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.mobHeader .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}



#main{width:100% ; position: relative; z-index: 2;}
#section1{width: 100%; height: 800px; overflow: hidden;}
#section1>div{width: 100%; height: 900px; position: relative;}
#section1>div>img{height: 100%; position: relative;}
.mainVideo{z-index: 1; position: relative; width: 100%;}

.section1-bottom-icon-wrap{z-index: 2; position: absolute; left: 0; bottom: -20px; width: 100%; height: 220px; background-color: rgba(75, 35, 88, 0.0);}
    .section1-icon-center-wrap{width: 120px; height: 120px; margin: 0 auto;}
    .section1-icon-center-wrap>p{float: left; font-size: 18px; width: 120px; text-align: center; color: #ffffff;}
    .section1-icon-center-wrap>a{float: left; font-size: 30px; width: 120px; text-align: center; padding: 10px 0; color: #ffffff;}

.section1-bottom-icon-wrap a.addIconBg{background: rgba(75, 35, 88, 0.0);}

    .section1-icon-center-wrap>a{margin-top: 0; transition: all 0.3s;}
    .section1-icon-center-wrap>a:hover{margin-top: 15px; transition: all 0.3s;}

#section2{width: 100%; margin-bottom: 50px; margin-top: 100px;}
#section2>div{background: #fff; }
#section2>div>ul{width: 100%;}
#section2>div>ul>li{float: right; width: 50%; }
#section2>div>ul>li>video{width:70%; padding-left: 100px;}

#section2>div>ul>li:nth-child(2){background: #fff; padding-top: 120px;}
#section2>div>ul>li>ul{padding: 10px 100px; float: left; }
#section2>div>ul>li>ul>li>h2{font-size: 28px; color: #584137;display: inline-block; word-break: break-all; margin-top:10px;} /*word-break: break-all;은 문자단위로 줄바꿈*/
#section2>div>ul>li>ul>li>h2>span{display: block; height: 15px; border-bottom: 1px solid #584137;}
#section2>div>ul>li>ul>li>p{padding-top: 20px; line-height: 200%; font-size: 16px; color: #333; }

/*section3 nav*/

#section3{width:100%;} 
#section3>div{width:100%; height:auto;/*임시높이 auto*/}
#section3 .title3 h2{
    font-size: 2em;
    color: #333;
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: center;
}

.section3-nav>h2{width: 100%;}
.section3-nav{width:100%; height:auto; padding-bottom: 50px;}
.section3-nav>ul{width:100%;text-align:center;}
.section3-nav>ul>li{display:inline-block;}
.section3-nav>ul>li>a{display:block; padding:30px 30px; font-size:14px; color:#222; float: left;}
.section3-nav>ul>li>a>p{padding-top: 5px;}
.section3-nav>ul>li>a:hover{background:#E7E7F1;}
.section3-nav>ul>li>a:hover>p{font-weight: bold;}
.section3-video{width:100%;}
.section3-video>li{cursor:pointer;float:left; width:33.333%;overflow:hidden;}
.section3-video>li>div{position:relative;width:100%;}
.section3-video>li>div>video{z-index:1;position:relative;width:100%;transform:scale(1, 1);transition:all 0.6s;}
.section3-video>li>div>p{z-index:2;position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0, 0);transition:all 1s;}
.section3-video>li:hover>div>p{background:rgba(0,0,0,.8);transition:all 1s;}

.section3-video>li>div>ul{z-index:3;position:absolute;left:80px;top:250px;opacity:0;transition:all 1s;}
.section3-video>li:hover>div>ul{top:150px;opacity:1;transition:all 1s;}

    .section3-video>li>div>ul>li>h2{font-size:25px;color:#fff;padding-bottom:20px;}
    .section3-video>li>div>ul>li>p{font-size:18px;color:#fff;padding-bottom:30px;}
    
    .section3-video>li>div>ul>li:last-child{position:relative;display:block;width:102px;height:102px;border-radius:50%; background-color: rgba(255,255,255,.1); overflow:hidden;}
    
    .section3-video>li>div>ul>li:last-child>a{display:block;width:100%;height:100%;background:transparent;color:#fff;transition:all 0.3s;}
    .section3-video>li>div>ul>li:last-child>a:hover{background:#4B2358; color:#fff;transition:all 0.3s;}
    .section3-video>li>div>ul>li:last-child>a>span{text-transform:uppercase;display:block;position:absolute;top:50%;width:100%;height:14px;font-size:14px;margin-top:-9px;font-weight:600;text-align:center;}
   

    .section3-video>li:hover>div>video{transform: scale(1.3,1.3); transition: all 0.6s;}
    .section3-video>li>div>img{width: 100%; transform: scale(1,1); transition: all 0.6s;}
    .section3-video>li:hover>div>img{transform: scale(1.3,1.3); transition: all 0.6s;}

/*section4 load more*/
#section4{width: 100%; background: #4B2358;}
#section4>div{width: 100%; padding: 60px 0; text-align: center;}
#section4>div>button{
    cursor: pointer; 
    width: 150px; height: 50px;
}
#section4>div>button>a{
    width: 150px; height: 50px;
	background: #4B2358;
	display: block;
    border: 1px solid #ffffff;
	text-align: center;
	line-height: 50px;
	color: #ffffff;
	font-size: 16px;
}
#section4>div>button>a:hover{
    background: #ffffff;
	color: #4B2358;
}

#section1_1{width: 100%; height: 650px;}
#section1_1 h2{
    font-size: 2em;
    color: #333;
    padding-bottom: 20px;
    text-align: center;
}
.product{
    position: relative;
    margin: 0 auto;

}

.product_box{
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 1090px;
 
}

.product_box ul{
    width: 1090px;
    position: relative;
    margin-top: 80px;


}

.product_box li{
    float: left;
    height: 500px;
    width: 360px;
    padding-top: 20px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;


}
.product_box li a{
    width: 100%;
    float: left;
    display: block;
    overflow: hidden;
    
}
.product_box li a img{
    width:70%;
    height: auto;
}

.product_box li:hover a img{
    transform: scale(1.15);
    transition: all 0.3s;
}
.product_box li p{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    color: #666666;
    padding-top: 8px;
    padding-bottom: 10px;
}


/*background*/
#back_att{
    width: 100%;
    height: 500px;
    background: url(../img/slide.jpg) center center;
    background-size: cover;
    background-attachment: fixed;

}
#back_att .title{
    height: 150px;
    margin: 0 auto;
    text-align: center;
}
#back_att .title h4{
    font-size: 1em;
    color: #fff;
    padding-top: 200px;
}
#back_att .title h2{
    font-size: 4em;
    color: #fff;
    padding-top: 200px;
}
#back_att .title p{
    font-size: 1em;
    color: #fff;
    padding-top: 20px;

}



#cont1{width: 80%; margin: 30px auto 0 auto; height: 400px;}
#cont1>ul{width: 100%; margin: 0 auto;}

#cont1>ul>li{width: 23%; height: 300px; float: left; background: #efefef; margin: 10px;}

/*footer*/
#footer{position: relative; z-index: 1; width: 100%; background: #FCF8EC;}
#footer>div{width: 100%; max-width: 1090px; margin: 0 auto; padding: 36px 0 14px 0;}
#footer>div>ul{width: 100%;}
#footer>div>ul>li{width: 100%;}


/*sitemap*/
.footer-sitemap-wrap{width: auto; padding-bottom: 10px;}
.footer-sitemap-wrap>li{float: left; margin-right: 42px;}
.footer-sitemap-wrap>li:last-child{margin-right: 0;}

.footer-sitemap-wrap>li>i{display: block; width: 20px; height: 2px; background: #FFFDF8; margin-bottom: 20px; opacity: 0.2;}
.footer-sitemap-wrap>li>h2{color: #222; font-size: 17px; font-weight: 600; padding-bottom: 2px;}

.footer-sub{width: auto;}
.footer-sub>li{padding-bottom: 15px; float: left; padding-right: 50px;}
.footer-sub>li>a{font-size: 17px; color: #222;}
.footer-sub>li>a:hover{color: #fff;}

address{display: block; width: 100%; padding-bottom: 10px;}
address>ul>li:first-child{float: left; color: #222; margin: 12px 0;}

address ul>li:last-child{float: right; text-align: center; }
address ul>li:last-child>ul{width: 100%;}
address ul>li:last-child>ul>li{display: inline-block; margin: 0 7px; width: 50px; height: 50px; border-radius: 50%; overflow: hidden; }
address ul>li:last-child>ul>li:last-child{margin-right: 0;}
address ul>li:last-child>ul>li>a{display: block; width: 50px; height: 50px;  background: #4B2358; color: #fff; font-size: 25px; text-align: center; padding-top: 7px;}
address ul>li:last-child>ul>li>a:hover{color: #4B2358; background: #fff;}
address ul>li:last-child>ul>li>a>i{margin-top: 5px;}