@charset "utf-8";

@media all and (max-width:1730px){ /*1730픽셀 이하일때*/
    .mainVideo{
        width: auto; height: 100%;
    }
}

@media all and (max-width:1090px){ /*최대1090픽셀 이하일때*/
.pc{display: none;}
.mobile{display: block;}
}